.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
}

.form-container .form-card {
  background-color: #dee4ee;
  min-width: 40rem;
  border-color: rgb(172, 172, 172);
}

.ant-card-body form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-card .ant-card-head {
  border-color: rgb(172, 172, 172);
}
